.w-100{
    width: 100% !important;
}
.container{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(53, 51, 51);
   min-height: 85.5vh;
}
.login{
    background-color: white;
    box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    padding: 20px;
    border-radius: 10px;
    color: rgb(28, 29, 35);
}

button{
    border-radius: 5px;
    height: 50px;
    background-color: rgb(57, 55, 160);
    color: white;
    border: 2px solid purple;
    font-size: 20px;
}
button:hover{
    transform: scale(1.005);
    background-color: rgb(66, 120, 213);
    color: white;
    font-weight: 600;
    transition: 0.2s ease-in-out;
}

.login-heading{
    text-align: center;
    margin-top: 10px;
}
.form{
    margin-bottom: 5px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}
.form-el{
   margin-top: 5px;
   height: 30px;
   font-size: 18px;
   padding: 0 6px;
}
.no_account_div{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.input-feedback{
    color: red;
    height: 5px;
    font-size: 18px;
    margin: 3px 0;
}
